@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 1400px;
  background-color: #fcfcfc;
}

.box {
  position: absolute;
  left: 0px;
  top: 1076px;
  height: 630px;
  width: 1420px;
  background-color: #f9eacc;
}

.signup {
  position: absolute;
  top: 18px;
  height: 30px;
  width: 140px;
  left: 1250px;
  background-color: #e90404;
}

.login {
  position: absolute;
  top: 18px;
  height: 30px;
  width: 140px;
  left: 1100px;
  background-color: #e90404;
}

.banner {
  position: absolute;

  top: 120px;
  left: 0%;
  height: 500px;
  width: 1423px;
  background-color: #fffdfd;
}

.picbanner {
  z-index: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  width: 1420px;
}

.logo {
  position: absolute;
  top: 34px;
  left: 28px;
  width: 14%;
  height: auto;
}

.home,
.about,
.info,
.contact {
  position: absolute;
  font-family: "Open Sans";
}

.company {
  position: absolute;
  z-index: 1;
  top: 6px;

  width: 40%;
  height: auto;
  left: 440px;
}

.textin {
  position: absolute;
  top: 4px;
  left: 1150px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
}

.textsign {
  position: absolute;
  top: 4px;
  left: 1295px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
}

.home {
  top: 55px;
  font-size: 20px;
  left: 600px;
}

.search {
  position: absolute;
  top: 65px;
  left: 300px;
  font-family: "Open Sans";
  font-size: 13px;
}

.info {
  top: 55px;
  font-size: 20px;
  left: 750px;
}

.about {
  top: 55px;
  font-size: 20px;
  left: 890px;
}

.contact {
  top: 55px;
  font-size: 20px;
  left: 1040px;
}

.searchbar {
  position: absolute;
  top: 10px;
  left: 265px;
  width: 21%;
  height: auto;
}

.menu {
  position: absolute;
  top: 75px;
  left: 1360px;
  width: 2%;
  height: auto;
}

.cart {
  position: absolute;
  top: 73px;
  left: 1250px;
  width: 2%;
  height: auto;
}

.right {
  position: absolute;
  top: 490px;
  left: 1300px;
  width: 50px;
  height: 50px;
  z-index: 2;
  border-radius: 50%;
  border-color: #ffffff;
}

.bannertext {
  z-index: 3;
  top: 80px;
  left: 200px;
  position: absolute;
  width: 70%;
  height: auto;
}

.rightpic {
  width: 30px;
  height: 30px;
}

.left {
  position: absolute;
  top: 490px;
  left: 55px;
  width: 50px;
  height: 50px;
  z-index: 3;
  border-radius: 50%;
  border-color: #ffffff;
}

.leftpic {
  width: 30px;
  height: 30px;
}

.sale {
  z-index: 4;
  top: 350px;
  left: 720px;
  position: absolute;
  width: 25%;
  height: auto;
}

.shopbox {
  position: absolute;
  z-index: 5;
  top: 800px;
  height: 40px;
  width: 170px;
  left: 590px;
  background-color: #e90404;
}

.shopnow {
  z-index: 6;
  position: absolute;
  top: 778px;
  left: 617px;
  font-size: 25px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
}
